 <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <% if user_signed_in? %>
          <td><%= post.user.username %></td>
          <% if current_user.id == post.user_id %>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>